body{
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
}

/* MODAL OFERTA */


.modal-oferta{
    position: relative;
    background-color: rgba(0, 0, 0, 0.678);
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(8px);
    height: 100vh;
    width: 100%;
    inset:  0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
.oferta{
    position: absolute;
    background-color: white;
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.269);
    transition: .8s all ease-in-out;
 
}
.oferta-icon{
    color: green;
    font-size: 120px;
    animation-name: icon;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    
}
@keyframes icon {
    0%{
        transform: rotateY(100deg);
    }
    100%{
        transform: rotateY(-20deg);
    }
    50%{
        transform: rotateY(-150deg);
    }
    75%{
        transform: rotateY(10deg);
    }
    100%{
        transform: rotateY(100deg);
    }
  
}
.open-oferta{
    visibility: visible;
    opacity: 1;
}

  



/* HEADER */

header{
    height: auto;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.816);
    border-bottom: 3px solid rgba(255, 255, 255, 0.64);
    transition: all 0.8s ease-in-out;
    z-index: 10;
}
.menubar-icon{
    color: white;
}
.navbar-item, a {
    color: white !important;
}
.dc-logo{
    height: 30px;
}
.dc-logo2{
    height: 30px;
}
.color-bg{
    background-color: rgb(6, 30, 91);
}


/* BANNER */

.dc-banner{
    position: relative;
    background-image: url(../assets/img/banner-fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    width: 100% !important;
    border-bottom: 70px solid rgb(27, 27, 68);
}
.dc-banner, h1{
    font-weight: 600;
}
.dc-banner-button{
    background-color: rgb(6, 30, 91);
    border: none;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
}
.dc-banner-button:hover{
    background-color: green;
    transition: all 0.5s ease;
}
.dc-banner, p{
    font-weight: 300;
}
.banner-server{
    height: 450px;
    position: absolute;
    /* transform: translateX(100%); */
    transform: translateY(70%);
    right: 0%;
}
#callbanner{
    background-color: rgb(6, 30, 91);
    color: white;
}
#bannerphone{
    color: green;
}



/* PLANES */


#check-icon{
    color: green;
}
h4{
    font-size: 30px;
    font-weight: 500;
}
.plancard{
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.131);
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.269);
    transition: ease 0.5s all;
}
.plancard:hover{
    background-color: rgb(27, 27, 68);
    color: white;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.526);
}
.proplan:hover{
    background-color: rgb(184, 141, 0);
}
#cardbutton{
    border-radius: 15px;
    margin-bottom: 40px;
}
.cardtitle{
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}
#basico{
    background-color: rgba(6, 30, 91, 0.13);
}
#negocios{
    background-color: rgba(6, 30, 91, 0.13);
}
.proplan, #pro{
    background-color: rgb(27, 27, 68);
}
#cardtitle-pro{
    border-bottom: 1px solid rgba(255, 255, 255, 0.145);
}
#cardbutton-pro{
    border-radius: 15px;
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255);
}
#cardbutton-pro:hover{
    background-color: rgb(187, 187, 209);
}

/* MODAL */

.dc-modal-container{
    background-color: rgba(0, 0, 0, 0.678);
    position: fixed;
    inset: 0;
    z-index: 100;
    opacity: 0;
    backdrop-filter: blur(8px);
    transition: all 0.3s ease-in-out !important;
    visibility: hidden;
}
.open-dcmodal{
    opacity: 1;
    transition: all 0.5s ease-in-out !important;
    visibility: visible;
}
.dc-modal{
    background-color: white;
    border-radius: 10px;
    transition: all 0.5s ease-in-out !important;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.269);
}
.dc-modal-png{
    height: 60px;
    width: 130px;
}
.modalbutton{
    background-color: rgb(27, 27, 68);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px !important;
}
.dc-success{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px;
    background-color: green;
    border-radius: 5px;
    transition: all 0.5s ease-in-out !important;
    visibility: hidden;
    opacity: 0;
}
.open-success{
    opacity: 1;
    transition: all 0.8s ease-out !important;
    visibility: visible;
}
#close-modal{
    cursor: pointer;
}
#modaltitulo{
    transition: all 0.5s ease-in-out;
    
}
.link-recibo{
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}
.open-recibo{
    opacity: 1;
    visibility: visible;
}
.campo-vacio{
    border: 1px solid red;
}
.campo-lleno{
    border: 1px solid green;
}





/* BLOQUE DOS */

#serviciostitle{
    color: rgb(27, 27, 68);
}
.serviciosbottom{
    margin-bottom: 150px;
}
.asesoria-bloque{
    margin-top: 150px;
}


/* BLOQUETRES */

.bloquetres{
    background-color: rgb(27, 27, 68) ;
}
.pic-profile-container{
    position: relative;
}
.profilepic{
    position: absolute;
    transform: translateY(0%);
    border-radius: 50%;
    height: 250px;
    border: 5px solid white !important;
}


/* BLOQUE CUATRO */

#nosotros{
    border-bottom: 10px solid rgb(27, 27, 68);
}


/* CONTACTO */


.contacto{
    height: 600px;
    background-image: url(../assets/img/banner-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
}
.contactform{
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.651);
    transition: all 0.3s ease-in-out !important;
}
#formbutton{
    background-color: rgb(27, 27, 68);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px !important;
}




/* FOOTER */

footer{
    background-color: rgb(27, 27, 68);
}
footer, a{
    text-decoration: none;
}
#footer-redes{
    color: white;
    font-size: 30px;
}
.dc-footer{
    height: 40px;
    width: 100px;
}
.faviconfooter{
    height: 30px;
}






/* RECIBO */

.recibo-container{
    background-color: rgba(0, 0, 0, 0.678);
    position: fixed;
    inset: 0 !important;
    z-index: 100;
    opacity: 0;
    backdrop-filter: blur(8px);
    transition: all 0.3s ease-in-out !important;
    visibility: hidden;
    right: 0;
}
.recibo-form{
    background-color: white;
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.269);
}
.open-recibo{
    opacity: 1;
    transition: all 0.5s ease-in-out !important;
    visibility: visible;
}
#cerrar-recibo{
    cursor: pointer;
    background-color: rgb(27, 27, 68);
    padding: 15px;
    border-radius: 8px;
    color: white;
    border: none;
} 






/* MEDIA QUERIES */

@media screen and (max-width: 992px){
    .dc-logo{
        display: none;
    }
    header{
        background-color: rgba(0, 0, 0, 0.948);
        padding: 0;
    }
    .dc-banner{
        height: 100vh;
        border-bottom: 10px solid rgb(27, 27, 68);
    }
    .banner-server{
        display: none;
    }
    #bloque-planes{
        margin-top: 50px !important;
    }
    .serverpng{
        display: none;
    }

}
.menubar{
    font-size: 30px;
    color: rgb(48, 48, 48);
}
@media screen and (min-width: 992px){
    header{
        height: 80px;
    }
    .menubar{
        display: none;
    }
    .dc-logo2{
        display: none;
    }
}